<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="batchCommit" value="true"/>
    <add key="batchSize" value="1000"/>
    <add key="count" value="100000"/>
    <add key="connectionString" value="Data Source=(localdb)\Projects;Integrated Security=true;Initial Catalog=ENode;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100"/>
  </appSettings>
</configuration>