<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <appSettings>
        <add key="batchAppendAsyncount" value="100000"/>
        <add key="batchSize" value="1000"/>
        <add key="connectionString" value="Data Source=(localdb)\ProjectsV13;Integrated Security=true;Initial Catalog=ENodeUT;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Async=True"/>
    </appSettings>
</configuration>