<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="batchAppendAsyncount" value="100000"/>
        <add key="batchSize" value="1000"/>
        <add key="connectionString" value="Data Source=(localdb)\ProjectsV13;Integrated Security=true;Initial Catalog=ENodeUT;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Async=True"/>
    </appSettings>
</configuration>
