<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ECommon" version="1.3.8" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.12" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.12" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="4.0.12" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.12" targetFramework="net40" />
</packages>